@use 'styles/variables' as *;
@use 'styles/functions' as *;
@use 'styles/breakpoints' as *;

.headerWrapper {
  background-color: $backgroundWhite;
  padding: toRem(40 0);
  border-bottom: 1px dashed $borderSoftGray;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      transition: fill .3s ease;

       &:hover {
         fill: $blue;
       }
    }

    .list {
      display: flex;
      list-style: none;
      margin: 0;

      .listItem {
        margin: toRem(0 20);
        cursor: pointer;
        font-weight: 700;
        transition: color .3s ease;

        &:hover {
          color: $hoverBlue;
        }
      }
    }
  }
}