html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: toRem(1024);
  width: 100%;

  @include media-breakpoint-down(lg) {
      padding: toRem(0 24);
  }

  @include media-breakpoint-down(sm) {
      padding: toRem(0 20);
  }
}

.signinBtn {
  padding: 10px 40px;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 2px solid $borderGray;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover {
    background-color: $blue;
    color: $textWhite;
    border: 2px solid $black;
  }
}