html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: toRem(1024);
  width: 100%;

  @include media-breakpoint-down(lg) {
      padding: toRem(0 24);
  }

  @include media-breakpoint-down(sm) {
      padding: toRem(0 20);
  }
}

.signinBtn {
  padding: 10px 40px;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 2px solid $borderGray;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover {
    background-color: $blue;
    color: $textWhite;
    border: 2px solid $black;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: toRem(70 0);

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    padding: toRem(40 0);
  }

  .textPart {
    color: $darkGray;
    width: 50%;

    @include media-breakpoint-down(md) {
      text-align: center;
    }

    .supText {
      color: $gray;
      font-weight: 700;

      & > span {
        color: $blue;
      }
    }

    & > h1 {
      font-size: toRem(60);
      color: $darkBlue;

      @include media-breakpoint-down(md) {
        font-size: toRem(40);
      }
    }

    & > h2 {
      font-size: toRem(40);
      color: $darkBlue;

      @include media-breakpoint-down(md) {
        font-size: toRem(22);
      }
    }

    & > h3 {
      font-size: toRem(24);
      color: $darkBlue;

      @include media-breakpoint-down(md) {
        font-size: toRem(18);
      }
    }

    .subText {
      font-size: toRem(18);
    }

    .footnote {
      font-size: toRem(14);
    }
  }

  .picturePart {
    @include media-breakpoint-down(md) {
      padding-bottom: toRem(30);
    }
  }
}

.wrapperReverse {
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.titleField {
  text-align: center;

  .title {
    font-size: toRem(40);
    color: $darkBlue;
  }

  .description {
    color: $gray;
    font-size: toRem(18);
  }
}