// Fonts
$base-font-size: 16px;
$base-font-family: "Lato", sans-serif;

// Basic colors
$white: #fff;
$black: #000;
$red: #ff0000;
$gray: #656565;
$darkGray: #6a7695;
$softGray: #d9d9d9;
$blue: #47b8d7;
$darkBlue: #263b5e;

// Background
$backgroundWhite: $white;

// Text
$textWhite: $white;
$textBlack: $black;
$textBlue: $blue;

// Border
$borderWhite: $white;
$borderGray: $gray;
$borderSoftGray: $softGray;

// Hover
$hoverBlue: $blue;

// Other
$cursorColor: $blue;

