// Fonts
$base-font-size: 16px;
$base-font-family: "Lato", sans-serif;

// Basic colors
$white: #fff;
$black: #000;
$red: #ff0000;
$gray: #656565;
$darkGray: #6a7695;
$softGray: #d9d9d9;
$blue: #47b8d7;
$darkBlue: #263b5e;

// Background
$backgroundWhite: $white;

// Text
$textWhite: $white;
$textBlack: $black;
$textBlue: $blue;

// Border
$borderWhite: $white;
$borderGray: $gray;
$borderSoftGray: $softGray;

// Hover
$hoverBlue: $blue;

// Other
$cursorColor: $blue;

// atomic classes
$positions: (relative, sticky, static, fixed, absolute);
$displays: (flex, inline, block, inline-flex, inline-block, grid, none);
$aligns-items: (center, flex-start, flex-end, baseline, stretch);
$justify-contents: (center, flex-end, space-between, space-around, space-evenly);

@each $position in $positions {
  .position-#{$position} {
    position: $position;
  }
}

@each $display in $displays {
  .display-#{$display} {
    display: $display;
  }
}

@each $justify-content in $justify-contents {
  .justify-#{$justify-content} {
    justify-content: $justify-content;
  }
}

@each $align-items in $aligns-items {
  .align-#{$align-items} {
    align-items: $align-items;
  }
}