// Theme colors
$white: #fff;
$black: #000;
$red: #ff0000;

// Background
$backgroundWhite: $white;

// Text
$textWhite: $white;
$textBlack: $black;

// Hover


// Buttons

// Border
$borderWhite: $white;

// General
$cursorColor: #47b8d7;

// Fonts
$base-font-size: 16px;
$base-font-family: "Lato", sans-serif;
